.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #fff;
}
.table {
  background-color: #1d4c7e;
  color: #fff;
  border: 3px double #3c3c3c;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #3c3c3c;
  color: white;
  height: 100px;
  border: 3px double #fff;
}

.time-form {
  background-color: #aed136;
  border: 3px double #3c3c3c;
  color: #1d4c7e;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
